@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700;900&display=swap');
.tab-container
{
    font-family: 'Noto Sans KR', sans-serif;
}



.album-left
{
    width: 50%;
    float: left;
    
}
.album-title
{
    font-family: 'Cinzel', serif;
    font-size: 50px;
    font-weight: 400;
    text-align: center;

    padding: 30px 0;
}
.album-text
{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 0 80px;
}




.album-right
{
    width: 50%;
    float: right;
    background-color: #161616;
}
.album-image
{
    float: left;
    padding-left: 200px;
}



.back-color
{
    background-color: #D2232A;
}
.photo
{
    text-align : center;
    margin: 0;
    padding: 0;
}
.photo a:hover
{
    opacity: 0.5;
}



#scrollText
{
    color: #fff;
    font-family: 'Cinzel', serif;
}
.center-scroll-text
{
    background-image: url(../img/movie1.jpg);
    background-size: cover;
    width:100%; /* can be any width */
    position: absolute;
    height: 100%;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    text-align: center;
}
.center-text
{
    text-align: center;
}
.album-l-text
{
    font-size: 85px;
    font-weight: 700;
}
.album-m-text
{
    font-size: 60px;
    font-weight: 700;
}
.album-s-text
{
    font-size: 45px;
    font-weight: 400;
}