@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");

/* Modern Normalize */
*,::after,::before{box-sizing:border-box}:root{-moz-tab-size:4;tab-size:4}html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}body{font-family:system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'}hr{height:0}abbr[title]{text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,pre,samp{font-family:SFMono-Regular,Consolas,'Liberation Mono',Menlo,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{padding:0}progress{vertical-align:baseline}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}

/* Layout */
.blind{display:none!important;visibility:hidden!important;position:absolute;margin:0;padding:0;clip:rect(0 0 0 0);pointer-events:none}
html{overflow:hidden;min-height:100vh;color:#333;font-family:"Noto Sans KR",sans-serif;font-size:12px;font-weight:400;line-height:1.5rem}
.tab-menu{width:800px;margin-top:50px;margin-right:auto;margin-left:auto}
.tab-menu ul{overflow:hidden;display:-webkit-box;display:-ms-flexbox;display:flex;margin:0;padding:0;list-style:none;border-radius:2px}
.tab-menu li{flex:1;height:50px}
.tab-menu li a{position:relative;display:block;width:100%;height:100%;padding-top:13px;padding-bottom:13px;background-color:#eee;text-align:center;text-decoration:none;color:#242424;font-weight:700;line-height:2rem;-webkit-transition:background-color 120ms cubic-bezier(0.455,0.030,0.515,0.955),color 120ms cubic-bezier(0.455,0.030,0.515,0.955);-moz-transition:background-color 120ms cubic-bezier(0.455,0.030,0.515,0.955),color 120ms cubic-bezier(0.455,0.030,0.515,0.955);-o-transition:background-color 120ms cubic-bezier(0.455,0.030,0.515,0.955),color 120ms cubic-bezier(0.455,0.030,0.515,0.955);-ms-transition:background-color 120ms cubic-bezier(0.455,0.030,0.515,0.955),color 120ms cubic-bezier(0.455,0.030,0.515,0.955);transition:background-color 120ms cubic-bezier(0.455,0.030,0.515,0.955),color 120ms cubic-bezier(0.455,0.030,0.515,0.955)}
.tab-menu li a span{display:inline-block;position:relative;vertical-align:top}
.tab-menu li a span::before{content:"";display:block;position:absolute;bottom:0;left:50%;width:0;height:0;border-bottom:2px solid #96d2d9;-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);-o-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);-webkit-transition:width 200ms cubic-bezier(0.455,0.030,0.515,0.955),border-color 120ms cubic-bezier(0.455,0.030,0.515,0.955);-moz-transition:width 200ms cubic-bezier(0.455,0.030,0.515,0.955),border-color 120ms cubic-bezier(0.455,0.030,0.515,0.955);-o-transition:width 200ms cubic-bezier(0.455,0.030,0.515,0.955),border-color 120ms cubic-bezier(0.455,0.030,0.515,0.955);-ms-transition:width 200ms cubic-bezier(0.455,0.030,0.515,0.955),border-color 120ms cubic-bezier(0.455,0.030,0.515,0.955);transition:width 200ms cubic-bezier(0.455,0.030,0.515,0.955),border-color 120ms cubic-bezier(0.455,0.030,0.515,0.955)}
.tab-menu li a.selected{background-color:#242424;border-radius:2px;color:#fff;cursor:default}
.tab-menu li a:hover span::before,.tab-menu li a.selected span::before{width:100%}
.tab-menu li a.selected span::before{border-bottom-color:#fff}
.tab-menu + .tab-container{margin-top:20px}
.tab-container{position:relative;width:800px;margin-right:auto;margin-left:auto;padding-top:24px}
.tab-container::before{content:"";display:block;position:absolute;top:0;right:0;left:0;padding-top:2px;border-top:1px solid #96d2d9;border-bottom:1px solid #96d2d9}
.tab-container .tab-content{display:none;position:relative;padding:30px;height:500px;font-weight:700;border-radius:2px;box-shadow:0 1px 4px rgba(0,0,0,0.1)}
.tab-container .tab-content.selected{display:block}
@media (prefers-color-scheme: dark) {
    html{background-color:#000;color:#fff}
    .tab-menu li a{background-color:#242424;color:#fff}
    .tab-menu li a.selected{background-color:#fff;color:#242424}
    .tab-menu li a.selected span::before{border-bottom-color:#242424}
    .tab-container .tab-content::before{content:"";display:block;position:absolute;top:0;right:0;bottom:0;left:0;width:100%;height:100%;border:1px solid rgba(255,255,255,0.15);box-shadow:none;pointer-events:none}
}

.marquee {
    height: 800px;
    width: 740px;
    overflow: hidden;
    position: relative;
  }
  
  .marquee div {
    display: block;
    width: 800px;
    height: 300px;
    position: absolute;
    padding-top: 200px;
    overflow: hidden;
    -webkit-animation: marquee 10s linear infinite;
    animation: marquee 10s linear infinite;
  }
  
  .marquee span {
    float: left;
    width: 200%;
    font-size: 50px;
    letter-spacing: 2px;
    color: #fff;
  }
  
  @-webkit-keyframes marquee {
    0% { left: 0; }
    100% { left: -110%; }
  }
  
  @keyframes marquee {
    0% { left: 0; }
    100% { left: -100%; }
  }

div.tab-container > div:nth-child(1) { background-image: url(http://werk.co.kr/web/werkcoffee/main_img1.jpg); background-size: cover; }
div.tab-container > div:nth-child(1) > a > img { position: relative; text-align: center; display: inline;}

div.tab-container > div:nth-child(2) {overflow: scroll; background-color: #000; }

.content, .wrapper:before {
    box-sizing: border-box;
    display: block;
    font-size: 4em;
    padding: 1em;
    width: 6em;
    height: 3em;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
            transform: translate3d(-50%, -50%, 0);
  }
  
  .content {
    font-weight: bold;
    text-align: center;
    z-index: 1000;
    background: #fff;
    color: #000;
    mix-blend-mode: lighten;
  }
  
  section {
    background-repeat: no-repeat;
    background-size: cover;
    isolation: isolate;
    position: relative;
    height: 100vh;
    padding: 1em;
  }
  
  .wrapper {
    clip: rect(auto auto auto auto);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .wrapper:before {
    content: " ";
    padding: 2em 3.5em;
    mix-blend-mode: darken;
  }
  
  .one {
    background-image: url(https://instagram.ficn6-1.fna.fbcdn.net/v/t51.2885-15/e35/s1080x1080/92707489_221270979215748_3282777732559508943_n.jpg?_nc_ht=instagram.ficn6-1.fna.fbcdn.net&_nc_cat=100&_nc_ohc=wfywtKGhqs0AX_YRW5c&oh=982248059666d138c276692ccbef5852&oe=5F14E121);
  }
  .one .wrapper:before {
    background: red;
  }
  
  .two {
    background-image: url(https://instagram.ficn6-1.fna.fbcdn.net/v/t51.2885-15/e35/s1080x1080/81302302_485832192341598_2748690546926274666_n.jpg?_nc_ht=instagram.ficn6-1.fna.fbcdn.net&_nc_cat=106&_nc_ohc=rPPqBRh_bToAX89FnSe&oh=e9e5916868aae75102e520ced29da0fa&oe=5F125482);
  }
  .two .wrapper:before {
    background: #faaa54;
    mix-blend-mode: difference;
  }
  
  .three {
    background-image: url(https://instagram.ficn6-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/s750x750/39993176_551456751975595_7394632901326798848_n.jpg?_nc_ht=instagram.ficn6-1.fna.fbcdn.net&_nc_cat=107&_nc_ohc=Ks1OB051LoMAX-vhqjz&oh=e498e87e42d1b726da077e5d71768ea8&oe=5F132F9A);
  }
  .three .wrapper:before {
    background: #2600ce;
    mix-blend-mode: screen;
  }
  
  .four {
    background-image: url(https://instagram.ficn6-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/s640x640/31714203_506923916369205_2887358693211373568_n.jpg?_nc_ht=instagram.ficn6-1.fna.fbcdn.net&_nc_cat=109&_nc_ohc=X0oZhLVW3yEAX-ZlhIu&oh=acabdc4cf03125f42311a05253cccbaa&oe=5F13A792);
  }
  .four .wrapper:before {
    background: #f8d1d1;
  }

div.tab-container > div:nth-child(3) { background-color: #000; overflow: scroll;}

div.tab-container > div:nth-child(3) > figure.snip1321 {
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 20px;
    min-width: 180px;
    max-width: 315px;
    width: 100%;
    color: #000000;
    text-align: center;
    -webkit-perspective: 50em;
    perspective: 50em;
    float: left;
  }
  div.tab-container > div:nth-child(3) >  figure.snip1321 * {
    -webkit-box-sizing: padding-box;
    box-sizing: padding-box;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  div.tab-container > div:nth-child(3) >  figure.snip1321 > img {
    max-width: 100%;
    vertical-align: top;
  }
  div.tab-container > div:nth-child(3) > figure.snip1321  > figcaption {
    top: 50%;
    left: 20px;
    right: 20px;
    position: absolute;
    opacity: 0;
    z-index: 1;
  }
  div.tab-container > div:nth-child(3) > figure.snip1321 > h2,
  div.tab-container > div:nth-child(3) > figure.snip1321 > h4 {
    margin: 0;
  }
  div.tab-container > div:nth-child(3) > figure.snip1321 > h2 {
    font-weight: 600;
  }
  div.tab-container > div:nth-child(3) > figure.snip1321 > h4 {
    font-weight: 400;
    text-transform: uppercase;
  }
  
  div.tab-container > div:nth-child(3) > figure.snip1321:after {
    background-color: #ffffff;
    position: absolute;
    content: "";
    display: block;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    opacity: 0;
  }
  div.tab-container > div:nth-child(3) > figure.snip1321 > a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
  }
  div.tab-container > div:nth-child(3) > figure.snip1321:hover figcaption,
  figure.snip1321.hover figcaption {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 1;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }
  div.tab-container > div:nth-child(3) > figure.snip1321:hover:after,
  figure.snip1321.hover:after {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 0.9;
  }

  div.tab-container > div:nth-child(4) { background-color: #000;}
  
  div.tab-container > div:nth-child(4) > ul {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  div.tab-container > div:nth-child(4) > ul > li {
    list-style: none;
  }
  
  div.tab-container > div:nth-child(4) > ul > li > a {
    width: 80px;
    height: 80px;
    background-color: #fff;
    text-align: center;
    line-height: 80px;
    font-size: 35px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
  }
  
  div.tab-container > div:nth-child(4) > ul > li> a > img {
    position: relative;
    top: 7.5px;
    color: #262626;
    transition: .5s;
    z-index: 3;
  }
  
  div.tab-container > div:nth-child(4) > ul> li> a:hover > image {
    color: #fff;
    transform: rotateY(360deg);
  }
  
  div.tab-container > div:nth-child(4) > ul> li> a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
  }
  
  div.tab-container > div:nth-child(4) > ul >li >a:hover:before {
    top: 0;
  }
  
  div.tab-container > div:nth-child(4) > ul >li:nth-child(1) a:before{
    background: #3b5999;
  }
  
  div.tab-container > div:nth-child(4) > ul > li:nth-child(2) a:before{
    background: #e23594;
  }
  