@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");
/* Modern Normalize */
*,
::after,
::before {
    box-sizing: border-box
}
:root {
    -moz-tab-size: 4;
    tab-size: 4
}
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}
body {
    margin: 0
}
body {
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji'
}
hr {
    height: 0
}
abbr[title] {
    text-decoration: underline dotted
}
b,
strong {
    font-weight: bolder
}
code,
kbd,
pre,
samp {
    font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
    font-size: 1em
}
small {
    font-size: 80%
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}
sub {
    bottom: -0.25em
}
sup {
    top: -0.5em
}
button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}
button,
select {
    text-transform: none
}
[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText
}
fieldset {
    padding: 0.35em 0.75em 0.625em
}
legend {
    padding: 0
}
progress {
    vertical-align: baseline
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}
[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}
[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}
summary {
    display: list-item
}
/* Layout */
.blind {
    display: none !important;
    visibility: hidden !important;
    position: absolute;
    margin: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    pointer-events: none
}
html {
    overflow: hidden;
    min-height: 100vh;
    color: #333;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5rem
}
body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100vh;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}
.accordion {
    position: relative;
    width: 100vw;
    height: 100vh
}
.view {
    overflow: hidden;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%
}
.view-item {
    overflow: hidden;
    position: relative;
    height: 100%;
    cursor: pointer;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-transition: all 480ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -moz-transition: all 480ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -o-transition: all 480ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -ms-transition: all 480ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    transition: all 480ms cubic-bezier(0.445, 0.050, 0.550, 0.950)
}
.view-item.selected {
    cursor: default;
    -webkit-flex-grow: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    flex-basis: 60vw
}
.view-item::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.181);
}
.view-item .image-wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}
.view-item .menu-collapse {
    position: absolute;
    z-index: 2;
    top: 50%;
    right: -20%;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(90deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(90deg);
    -o-transform: translateX(-50%) translateY(-50%) rotate(90deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(90deg);
    transform: translateX(-50%) translateY(-50%) rotate(90deg);
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -o-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    -webkit-transition: all 180ms 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -moz-transition: all 180ms 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -o-transition: all 180ms 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -ms-transition: all 180ms 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    transition: all 180ms 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950)
}
.view-item .menu-collapse span {
    overflow: hidden;
    display: block;
    position: relative;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 700;
    line-height: 5rem
}
.view-item .menu-collapse span::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border-bottom: 60px solid #fcf646;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-transition: width 240ms cubic-bezier(0.550, 0.055, 0.675, 0.190);
    -moz-transition: width 240ms cubic-bezier(0.550, 0.055, 0.675, 0.190);
    -o-transition: width 240ms cubic-bezier(0.550, 0.055, 0.675, 0.190);
    -ms-transition: width 240ms cubic-bezier(0.550, 0.055, 0.675, 0.190);
    transition: width 240ms cubic-bezier(0.550, 0.055, 0.675, 0.190)
}
.view-item.selected .menu-collapse {
    visibility: hidden;
    margin-top: -15px;
    opacity: 0;
    -webkit-transition-delay: 0;
    -moz-transition-delay: 0;
    -o-transition-delay: 0;
    -ms-transition-delay: 0;
    transition-delay: 0
}
.view-item:hover .menu-collapse span::before {
    width: 100%
}
.view-item .menu-view {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 2;
    padding: 50px;
    padding-top: 120px;
    width: 100%;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: top;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: left;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column
}
.view-item .menu-view span {
    display: block;
    visibility: hidden;
    position: relative;
    opacity: 0;
    -webkit-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -moz-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -o-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -ms-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950)
}
.view-item .menu-view span.title {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.167rem;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -o-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px)
}
.view-item .menu-view span.item-info{
     text-transform: uppercase;
     font-size: 1.5rem;
     font-weight: 700;
     line-height: 2.167rem;
     -webkit-transform: translateY(10px);
     -moz-transform: translateY(10px);
     -o-transform: translateY(10px);
     -ms-transform: translateY(10px);
     transform: translateY(10px)
}

.view-item .menu-view span.desc {
    font-size: 1.167rem;
    line-height: 1.667rem;
    margin-bottom: 30px;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -o-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px)
}

.view-item .menu-view span.item-info-txt{
     width:260px;
     font-size: 1.167rem;
     line-height: 1.667rem;
     -webkit-transform: translateY(30px);
     -moz-transform: translateY(30px);
     -o-transform: translateY(30px);
     -ms-transform: translateY(30px);
     transform: translateY(30px);
     margin-bottom: 20px;
}

.view-item .menu-view span.title + span.desc {
    margin-top: 8px
}
.view-item.selected .menu-view span {
    visibility: visible;
    opacity: 1;
    -webkit-transition-delay: 180ms;
    -moz-transition-delay: 180ms;
    -o-transition-delay: 180ms;
    -ms-transition-delay: 180ms;
    transition-delay: 180ms
}
.view-item.selected .menu-view span.title {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
}
.view-item.selected .menu-view span.desc {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
}
.view-item img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover
}
.view-item .btn-close {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    padding: 10px;
    pointer-events: none;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: -webkit-transform 200ms 80ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
    -moz-transition: -moz-transform 200ms 80ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
    -o-transition: -o-transform 200ms 80ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
    -ms-transition: -ms-transform 200ms 80ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
    transition: transform 200ms 80ms cubic-bezier(0.455, 0.030, 0.515, 0.955)
}
.view-item .btn-close span {
    overflow: hidden;
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #000;
    border-radius: 50%
}
.view-item .btn-close span::before,
.view-item .btn-close span::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 0;
    height: 0;
    border-top: 1px solid rgb(255, 255, 255)
}
.view-item .btn-close span::before {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -o-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg)
}
.view-item .btn-close span::after {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    -o-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    transform: translateX(-50%) translateY(-50%) rotate(-45deg)
}
/* .view-item .btn-close span::after{content:"";display:block;position:absolute;top:50%;left:50%;width:100%;height:0;width:100%;height:0;border-top:2px solid #fff} */
.view-item.selected .btn-close {
    pointer-events: auto;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition-delay: 480ms;
    -moz-transition-delay: 480ms;
    -o-transition-delay: 480ms;
    -ms-transition-delay: 480ms;
    transition-delay: 480ms
}
html.on-resize .view-item {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none
}



/* 다크 모드 */
.darkmode-warp{
     position: absolute;
     top: 0;
     left: 44%;
     z-index: 100;
     width: 200px;
}
input[type=checkbox] {
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none
 }
 input[type=checkbox]::-ms-check {
     display: none
 }
 h1#title {
     margin: 10px;
     padding: 0;
     font-size: 2rem;
     font-weight: 700;
     line-height: 3.500rem
 }
 .desc {
     font-size: 1.667rem;
     line-height: 2.167rem
 }
 .mode {
     position: absolute;
     right: 50%;
 }
 label.switch {
     display: block;
     position: relative;
     width: 28px;
     height: 16px;
     border-radius: 8px;
     background-color: #242424;
     -webkit-user-select: none;
     -moz-user-select: none;
     user-select: none;
     -webkit-transition: background-color 180ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
     -moz-transition: background-color 180ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
     -o-transition: background-color 180ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
     -ms-transition: background-color 180ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
     transition: background-color 180ms cubic-bezier(0.455, 0.030, 0.515, 0.955)
 }
 label.switch input[type=checkbox] {
     position: absolute;
     top: 0;
     left: 0;
     width: 0;
     height: 0;
     line-height: 0;
     clip: rect(0 0 0 0)
 }
 label.switch span {
     display: block;
     position: absolute;
     top: 2px;
     left: 2px;
     width: 12px;
     height: 12px;
     border-radius: 50%;
     background-color: #fff;
     pointer-events: none;
     -webkit-transition: background-color 180ms cubic-bezier(0.455, 0.030, 0.515, 0.955), left 140ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
     -moz-transition: background-color 180ms cubic-bezier(0.455, 0.030, 0.515, 0.955), left 140ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
     -o-transition: background-color 180ms cubic-bezier(0.455, 0.030, 0.515, 0.955), left 140ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
     -ms-transition: background-color 180ms cubic-bezier(0.455, 0.030, 0.515, 0.955), left 140ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
     transition: background-color 180ms cubic-bezier(0.455, 0.030, 0.515, 0.955), left 140ms cubic-bezier(0.455, 0.030, 0.515, 0.955)
 }
 label.switch input[type=checkbox]:checked + span {
     left: 14px
 }
 html.mode-dark {
     background-color: rgb(0, 0, 0);
     color: rgba(0, 0, 0, 0.105);
 }
 html.mode-dark label.switch {
     background-color: #fff
 }
 html.mode-dark label.switch span {
     background-color: #242424
 }

 html.mode-dark a{color: rgba(0, 0, 0, 0.126);}

html.mode-dark .view-item::before{
     background-color: rgba(255, 255, 255, 0.105);
}
html.mode-dark .view-item::after{
     background-color: rgb(255, 255, 255);
}

html.mode-dark #title{color: black;}

html.mode-dark .btn-1{opacity: 0.3;}
html.mode-dark .btn-2{opacity: 0.3;}
html.mode-dark .btn-3{opacity: 0.3;}
html.mode-dark .btn-4{opacity: 0.3;}




.item-info{}
.item-info-txt{}

 /* 버튼 */
 .btn {
     flex: 1 1 auto;
     display: block;
     width:260px;
     margin-top: 30px;
     padding: 5px;
     text-align: center;
     text-transform: uppercase;
     transition: 0.5s;
     background-size: 200% auto;
     color: rgb(0, 0, 0);
    /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
     box-shadow: 0 0 20px #eee;
     border-radius: 5px;
    }
   
   /* Demo Stuff End -> */
   
   /* <- Magic Stuff Start */
   
   .btn:hover {
     background-position: right center; /* change the direction of the change here */
   }
   
   .btn-1 {
     background-image: linear-gradient(to right, #f6d365 0%, #fcbaa7 51%, #f6d365 100%);
   }
   
   .btn-2 {
     background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
   }
   
   .btn-3 {
     background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
   }
   
   .btn-4 {
     background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
   }
   
   .btn-5 {
     background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 51%, #ffecd2 100%);
   }
   



 