@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800;900&display=swap');

/* Modern Normalize */
*,::after,::before{box-sizing:border-box}:root{-moz-tab-size:4;tab-size:4}html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}body{font-family:system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'}hr{height:0}abbr[title]{text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,pre,samp{font-family:SFMono-Regular,Consolas,'Liberation Mono',Menlo,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{padding:0}progress{vertical-align:baseline}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}

/* Layout */
.blind{
    display:none!important;
    visibility:hidden!important;
    position:absolute;
    margin:0;
    padding:0;
    clip:rect(0 0 0 0);
    pointer-events:none;
    background-color: #000;
    color: #fff;
}
html{
    overflow:hidden;
    min-height:100vh;
    color:#333;
    font-family: 'Montserrat', sans-serif;
    font-size:15px;
    font-weight:400;
    line-height:1.5rem;
}
body {
    font-family: 'Montserrat', sans-serif;
}
.tab-menu{
    /* 너비 값을 따로 지정해주지 않으면 브라우저의 너비에 맞게 조절된다. */
    /* width:800px; */

    /* margin-top:50px; */
    /* margin-bottom: 50px; */
    
    margin-right:auto;
    margin-left:auto;
    font-size:18px;
}

.tab-menu ul{
    overflow:hidden;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    margin:0;
    padding:0;
    list-style:none;
    border-radius:2px;
}

.tab-menu li{
    flex:1;
    height:50px;
}

.tab-menu li a {
    position:relative;
    display:block;
    width:100%;
    height:100%;
    padding-top:13px;
    padding-bottom:13px;
    background-color:#eee;
    text-align:center;
    text-decoration:none;
    color:#242424;
    font-weight:700;
    line-height:2rem;
    -webkit-transition:background-color 120ms cubic-bezier(0.455,0.030,0.515,0.955),color 120ms cubic-bezier(0.455,0.030,0.515,0.955);
    -moz-transition:background-color 120ms cubic-bezier(0.455,0.030,0.515,0.955),color 120ms cubic-bezier(0.455,0.030,0.515,0.955);
    -o-transition:background-color 120ms cubic-bezier(0.455,0.030,0.515,0.955),color 120ms cubic-bezier(0.455,0.030,0.515,0.955);
    -ms-transition:background-color 120ms cubic-bezier(0.455,0.030,0.515,0.955),color 120ms cubic-bezier(0.455,0.030,0.515,0.955);
    transition:background-color 120ms cubic-bezier(0.455,0.030,0.515,0.955),color 120ms cubic-bezier(0.455,0.030,0.515,0.955);
}

.tab-menu li a span{
    display:inline-block;
    position:relative;
    vertical-align:top;
}

.tab-menu li a span::before {
    content:"";
    display:block;
    position:absolute;
    bottom:0;
    left:50%;
    width:0;
    height:0;
    /* 호버시 나타나는 바 색상 변경 */
    border-bottom:2px solid #ff00c3;
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -o-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    transform:translateX(-50%);
    -webkit-transition:width 200ms cubic-bezier(0.455,0.030,0.515,0.955),border-color 120ms cubic-bezier(0.455,0.030,0.515,0.955);
    -moz-transition:width 200ms cubic-bezier(0.455,0.030,0.515,0.955),border-color 120ms cubic-bezier(0.455,0.030,0.515,0.955);
    -o-transition:width 200ms cubic-bezier(0.455,0.030,0.515,0.955),border-color 120ms cubic-bezier(0.455,0.030,0.515,0.955);
    -ms-transition:width 200ms cubic-bezier(0.455,0.030,0.515,0.955),border-color 120ms cubic-bezier(0.455,0.030,0.515,0.955);
    transition:width 200ms cubic-bezier(0.455,0.030,0.515,0.955),border-color 120ms cubic-bezier(0.455,0.030,0.515,0.955);
}

.tab-menu li a.selected{
    background-color:#ff00c3;
    border-radius:2px;
    color:#fff;
    cursor:default;
}
.tab-menu li a:hover span::before,.tab-menu li a.selected span::before{
    width:100%;
}
.tab-menu li a.selected span::before{
    border-bottom-color:#fff;
}
/* 공백 없애기 */
.tab-menu + .tab-container{
    /* margin-top:20px; */
}
.tab-container{
    position:relative;
    /* 영역 크기 조절 */
    width:100%;
    height:100%;
    margin-right:auto;
    margin-left:auto;
    /* padding-top:24px; */
}

/* 메뉴바와 컨텐츠 사이 라인 */
/* .tab-container::before {
    content:"";
    display:block;
    position:absolute;
    top:0;
    right:0;
    left:0;
    padding-top:2px;
    border-top:1px solid #96d2d9;
    border-bottom:1px solid #96d2d9;
} */

.tab-container .tab-content{
    display:none;
    position:relative;
    /* 영역 내 여백 없애기 */
    /* padding:30px; */
    /* 영역 높이 조절 */
    height:100vw;
    font-weight:700;
    border-radius:2px;
    box-shadow:0 1px 4px rgba(0,0,0,0.1);
}
.tab-container .tab-content.selected{
    display:block;
}

/* 다크모드 */
@media (prefers-color-scheme: dark) {
    html{
        background-color:#000;
        color:#fff
    }
    .tab-menu li a{
        background-color:#242424;
        color:#fff
    }

    /* 선택된 메뉴 색상 */
    .tab-menu li a.selected{
        background-color:#ff00c3;
        color:#fff;
    }
    .tab-menu li a.selected span::before{
        border-bottom-color:#fff;
    }
    .tab-container .tab-content::before{
        content:"";
        display:block;
        position:absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
        width:100%;
        height:100%;
        /* border:1px solid rgba(255,255,255,0.15); */
        box-shadow:none;
        pointer-events:none;
    }
}



/* 과제 진행 */
body {position: relative;}

/* Tab Menu 1 */
div.tab-container > div#content1 > div#content1bg {
    /* 배경이미지 분리 */
    height: 100vh;
    width: 100%;
    background-image: url("../img/tab1bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* 다른 요소들과 겹쳐지기 위해 포지션 absolute */
    position: absolute;
    margin-top: -47px;
}
div.tab-container > div#content1 > div#content1bgdark {
    /* 배경이미지 어둡게 처리 */
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
    width: 100%;
    position: absolute;
    margin-top: -47px;
}
div.tab-container > div#content1 > div.wrap {
    position: relative;
    width: 1200px;
    display: block;
    /* 양쪽에 동일한 여백 값을 주고 가운데 위치 */
    margin: 0 auto;
}
div.tab-container > div#content1 > div.wrap > h1 {
    font-size: 100px;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke: #fff 1px;
    line-height: 1.5;
    transition: color 0.7s ease-in-out;
}
/* 텍스트 호버시 색상 변경 */
div.tab-container > div#content1 > div.wrap > h1:hover {
    color: #74ee15;
    -webkit-text-stroke: 0px;
}
div.tab-container > div#content1 > div.wrap > h1:nth-child(2) {
    text-align: center;
}
div.tab-container > div#content1 > div.wrap > h1:nth-child(3) {
    text-align: right;
}

/* line */
div.tab-container > div#content1 > div.wrap > h1::after {
    content:"";
    border-bottom: 1px #fff solid;
    height: 1px;
    display:block;
    position:absolute;
}
div.tab-container > div#content1 > div.wrap > h1:first-child::after {
    /* width: 1200px; */
    /* 애니메이션 키프레임 이름 */
    animation-name: line1;
    /* 애니메이션이 진행 될 시간 */
    animation-duration: 1.5s;
    /* 애니메이션 속도 변화 유형 */
    animation-timing-function: ease-in-out;
    /* 애니메이션 시작하기 전 지연 시간 */
    /* animation-delay: 1s; */
    /* 애니메이션 반복 제어 */
    /* animation-iteration-count: 3;  */
    /* animation-direction: alternate; */
    /* 마지막 상태 유지 */
    animation-fill-mode: forwards;
}
div.tab-container > div#content1 > div.wrap > h1:nth-child(2)::after {
    /* width: 660px; */
    margin-left: 540px;
    animation-name: line2;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}
div.tab-container > div#content1 > div.wrap > h1:nth-child(3)::after {
    /* width: 265px; */
    margin-left: 905px;
    animation-name: line3;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

@keyframes line1 {
    0% {width: 0;}
    100% {width: 1200px;}
}
@keyframes line2 {
    0% {width: 0;}
    100% {width: 660px;}
}
@keyframes line3 {
    0% {width: 0;}
    100% {width: 295px;}
}

/* Tab Menu 2 */
div.tab-container > div#content2 > div.wrap {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/176026/noise.png);
    background-color: #242424;
    height:100%;
    text-align: center;
    margin-top: -20px;
}
div.tab-container > div#content2 > div.wrap > h1 {
    padding-top: 10vw;
    padding-bottom: 100px;
}
div.tab-container > div#content2 > div.wrap > div#imgbox {
    display: flex;
    justify-content: space-around;
}
div.tab-container > div#content2 > div.wrap > div#imgbox > a {
    transform: rotate(50deg);
    /* margin-top: 13vw; */
    vertical-align:middle;
    opacity: 0.2;
}
div.tab-container > div#content2 > div.wrap > div#imgbox > a.back {
    animation-name: imgback;
    animation-duration: 0.6s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
div.tab-container > div#content2 > div.wrap > div#imgbox > a.turn {
    animation-name: imgturn;
    animation-duration: 0.6s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes imgback {
    0% {transform: rotate(50deg);
        opacity: 0.2;
        }
    100% {transform: rotate(0deg);
        opacity: 1;
        transform: scaleX(1.3) scaleY(1.3);}
}
@keyframes imgturn {
    0% {transform: rotate(0deg);
        opacity: 1;
        transform: scaleX(1.3) scaleY(1.3);}
    100% {transform: rotate(50deg);
        opacity: 0.2;}
}

/* Tab Menu 3 */
div.tab-container > div#content3 > div.wrap {
    position: relative;
    width: 1000px;
    margin: auto;
    display: block;
    margin: 70px auto;
} 
div.tab-container > div#content3 > div.wrap > div.members {
    position: relative;
    /* margin-top: 50px; */
    float:left;
} 
div.tab-container > div#content3 > div.wrap > div.members > img {
    position: relative;
    opacity: 0.35;
    transition: opacity 0.3s ease-in;
    margin-top: -31px;
} 
div.tab-container > div#content3 > div.wrap > div.members > img:hover {
    opacity: 1;
}
div.tab-container > div#content3 > div.wrap > div.members > div.memtext {
    position: relative;
    font-size: 20px;
    color: #74ee15;
} 
div.tab-container > div#content3 > div.wrap > div.members:first-child > div.memtext {
    top: -234px;
    left: 222px;
    letter-spacing: 10px;
}
div.tab-container > div#content3 > div.wrap > div.members:nth-child(2) > div.memtext {
    top: -240px;
    left: 236px;
    letter-spacing: 4px;
} 
div.tab-container > div#content3 > div.wrap > div.members:nth-child(3) > div.memtext {
    top: -270px;
    left: 290px;
    letter-spacing: 15px;
}
div.tab-container > div#content3 > div.wrap > div.members:nth-child(4) > div.memtext {
    top: -245px;
    left: 223px;
    letter-spacing: 10px;
} 

/* Tab Menu  */
div.tab-container > div#content4 {
    height: 50vw;
    width: 100%;
}
div.tab-container > div#content4 > iframe {
    height: 100%;
    width: 100%;
}