@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Noto Sans KR", sans-serif;
<<<<<<< HEAD
  width:2000px;
  height:2000px;
  background-color:#000;
=======
  /* width:100%; */
  width:2000px;
  height:2000px;
  background-color:#000
>>>>>>> 2f8f77591b44a4a8cb571da11f331d8508f45ff0
}
h1 {
  color: #333;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
}